{% extends "layout.html" %}


{% block body %}

<h3>Hakkımızda</h3>
<hr><br><br>
<img src="\media\godfather.webp">
<hr><br><br><br>
<h4>Ben Kimim?</h4>
<p>
        Giriş bölümünü hep sıkıcı buluruz biz bilirim.. Kitaplardaki ön sözler gibi okumadan hemence konuya girmek isteriz. Aslına bakarsanız bu sayfaya ne yazayım diye uzun uzun düşününce, acaba kendimi yeterince tanımamış olabilir miyim diye şüpheye düştüm. Bir insan kendi hakkında ne anlatabilir ki? Okuduğu okullar, başarıları, mücadeleler, mesleki kariyeri, seyahatler, hobileri falan filan…  
</p>

<p>
        Anonim bir isimle yazmış olduğu blog sayfasının hakkımda bölümüne ne yazmak isteyebilir? Sonuçta hepsi yazarın anlattığı ve sizin bilmek istediğiniz kadar olmayacak mı? O yüzden bence tüm bu zırvalıkları geçelim ve neden burada olduğunuza dönelim. Herkese merhaba.Ben Musa Guney. KLU Yazilim Mühendisliği 4.sınıf öğrencisiyim.Yazılım programlamak ve yazılım öğrenmek isteyen gençlere ve yazılımcılara faydalı olmak ,aynı zamanda Türkiyede yazılımın ve eğitimin yükselmesi amacıyla  10 Nisan 2022 tarihinde bu siteyi kurdum.Şimdiye kadar elimden geldiğince blog yüklemeye çalıştım.Bu sitedeki amacım bazi insanlara zor gelen seylerin ne kadar basit bir sekilde ve kasmadan yapilabilecegini gostermekti.

</p>

<br>
<hr>
<P>
        Beni dinlediginiz icin tesekkur eder ve iyi gunler dilerim. Saglicakla kalin :)
</P>
<hr>
{% endblock body %}
